duckdb==1.5.0
colorlog==6.10.1
flwr[simulation]==1.27.0
mypy==1.19.1
numpy==2.4.3
openai-agents==0.12.0
openai==2.26.0
optuna==4.7.0
pandas==3.0.1
pandas-stubs==3.0.0.260204
python-dotenv==1.2.2
scikit-learn==1.8.0
